@font-face {
    font-family: pokemonsolid;
    src: url(Pokemon\ Solid.ttf);
}

@font-face {
    font-family: pokemonhollow;
    src: url(Pokemon\ Hollow.ttf);
}

/* Style del header */
h1 {
    display: flex;
    justify-content: center;
    font-family: pokemonsolid, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: rgb(255, 217, 0);
    -webkit-text-stroke: 1.3px rgb(43, 116, 252);
}

/* Style del div container de la search bar */
#search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style del input de la search bar */
#search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Style del botó de cerca */
#search-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #dd4545;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#search-container button:hover {
    background-color: #b93b3b;
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokemon-name {
    font-family: pokemonhollow, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 10px;
}

#pokemon-img {
    width: 300px;
    height: auto;
    /*Cuando escalaba la imagen quedaba pixelada asique he buscado esta solución, queda perfecto*/
    image-rendering: pixelated;
}

#pokemon-type {
    font-size: 20px;
}